/* @import{fonts.googleapis.com/css?family=Poppins:400,600i&display=swap" rel="stylesheet"} */
input{
    background-color: rgb(160, 125, 168, 0.493);
    max-width: 75%;
}
form{
    margin-left: 20%;
    margin-top: 7%;
}
.card{
    background-image: url(../../assets/qimg/regtt.png);
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 4%;
    border-radius: 2%;
    background-color: rgba(160, 125, 168, 0.493);
    /* background-image: url() */


}
.customselect{
    background-color: rgb(160, 125, 168, 0.493);
}
.header{
    margin-top: -30px;
    margin-right: -30px;
    margin-left: 55%;
    text-align: center;
    padding: 3%;
    background-color: rgb(147, 82, 163);
    max-width: 50%;
    border-radius: 5%;
    line-height: 100%;
    font-size: 40px;
}
.bcustom{
    background-color: rgba(3, 3, 41, 0.637);
}