<div class="card">
    
    <div class="row">
        <div class="col-md-3 cus">
            <img src="assets/qimg/logotra.png" alt="">
           <ul> <b>QUIZUP</b><br>
            <li><i>Learn it</i></li>
            <li><i>Acheive it</i></li><li><i>Live it.....</i></li></ul>
        </div>
        <div class="col-md-4">
            <p style="color:rgb(228, 225, 235);">FEATURES OF QUIZ</p>
            <p>
                Your work is going to fill a large<br> part of your life, and the <br>only way to be truly satisfied is <br> do what you believe is great work. <br>And the only way to do great<br> work is to love what you do. <br>If you haven't found it yet,<br> keep looking. Don't settle.<br> As with all matters of the heart, <br>you'll know when you find it.
            </p>
        </div>
        <div class="col-md-4">
            <p style="color:rgb(228, 225, 235);">CONTACT US</p>
            <hr>
            <p><b>Phone no:</b><i>+(040) 2546854</i></p>
            <hr>
            <p><b>Email:</b><i>12344556789@quizup.com</i></p>
            <hr>
            <p><b><i>Follow us:</i></b> </p>

        </div>
      </div>
</div>







